<link rel="stylesheet" href="/components/header/header.css" />
<script src="/components/header/loading.js"></script>

<header>
  <div class="loading"></div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://github.com/Uruwhy1/odin-fileUploader">Github</a>
  </div>

  <div class="auth">
  <% if (!auth) { %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a> 
  <% } else { %> 
    <a href="/logout">Log Out</a>
  <% } %>
  </div>

</header>
