<link rel="stylesheet" href="/styles/header.css" />

<header>
  <div class="links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="">Github</a>
  </div>

  <div class="auth">
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </div>
</header>
