<script src="/deleteFolder.js"></script>
<div>
  <h2>Your Folders:</h2>
  <ul id="folder-list">
    <% folders.forEach(folder => { %>
    <li id="folder-<%= folder.id %>">
      <%= folder.name %>
      <button class="delete-folder-btn" data-id="<%= folder.id %>">
        Delete
      </button>
    </li>
    <% }) %>
  </ul>
</div>
