:root {
  --accent: #ffa500;
  --accent-hover: #ff8800;
  --accent-background: #ffecdb;

  --selected-folder: var(--accent);

  --home-action: rgb(255, 255, 255);
  --home-action-hover: rgb(255, 230, 209);

  --button-box-shadow: rgba(229, 229, 229, 0.787);

  --link: var(--accent);

  --loading-bar: skyblue;

  --page-bg: linear-gradient(90deg, #3f2385, #61338f);
  --container-bg: #fff;
}
