:root {
  --accent: #ffa500;
  --accent-hover: #ff8800;
  --accent-background: #ffecdb;

  --selected-folder: var(--accent);

  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  --home-action: rgb(255, 255, 255);
  --home-action-hover: rgb(255, 230, 209);

  --button-box-shadow: rgba(229, 229, 229, 0.787);

  --link: var(--accent);

  --loading-bar: skyblue;

  --page-bg: linear-gradient(90deg, #3f2385, #61338f);
  --container-bg: #fff;
}
