main {
  display: grid;
  place-content: center center;
  grid-template-columns: 50% 50%;
}
main > div {
  margin: auto;
  width: 60%;
  height: auto;
}

.right {
  background-color: #fefefe;
  color: #333;
  padding: 1.75rem;

  border-radius: 0.5rem;
  box-shadow: 1rem 1rem rgba(231, 231, 231, 0.722);

  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap between form items */
}

form .item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* gap between label and input */
}

label {
  font-weight: bold;
  color: #333;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1rem;

  background-color: #f3f3f3;
}
input:placeholder-shown {
  color: gray;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  margin-top: 0.75rem;
}
.buttons button {
  padding: 0.75rem;

  font-weight: 500;
  font-size: 1rem;

  cursor: pointer;
  border: none;

  min-width: 130px;
}

.submit {
  padding: 0.75rem;
  background-color: var(--link);
  color: white;
  border-radius: 5px;
}
.submit:hover {
  background-color: var(--link-hover);
}

.right a {
  color: var(--link);
  text-decoration: none;

  font-weight: 500;
}

.right a:hover {
  text-decoration: underline;
}

.redirect {
  align-self: center;
}

#error-message {
  color: red;
  font-weight: 500;

  margin-top: -1rem;
  padding-left: 0.1rem;
}
