/* -------------- LOADING BAR ------------------ */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: var(--loading-bar);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: 9999;
}
.loading.active {
  transform: scaleX(1);
}

.pop-up {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1.1rem;

  top: -6rem;
  transition: all 0.6s;
  z-index: 1;

  border-radius: 6px;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  &.active {
    top: 0.5rem;
  }

  &.success {
    background-color: var(--success);
    box-shadow: 0.35rem 0.35rem var(--success-shadow);

    color: var(--success-text);
    font-weight: normal;

    > p::before {
      content: "Success:";
      font-weight: bold;
      margin-right: 5px;
    }
  }
  &.failure {
    background-color: var(--error);
    box-shadow: 0.35rem 0.35rem var(--error-shadow);

    color: var(--error-text);
    font-weight: normal;

    > p::before {
      content: "Failure:";
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
.pop-up svg {
  height: 30px;
  width: 30px;
}

/* -------------------------------------- -*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 3.5%;
  max-width: 1800px;

  font-size: 1.25rem;
}

header > div {
  display: flex;
  justify-content: start;
  gap: 3rem;
}

header :is(a, p) {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
header a:hover {
  text-decoration: underline;
}

.user-menu {
  position: relative;
  cursor: pointer;

  padding: 1rem 0.25rem;
  min-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.user-menu svg {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  stroke: var(--accent);

  width: calc(30px + 0.25rem);
  height: calc(30px + 0.25rem);

  padding: 0.25rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: -0px;

  display: none;

  width: 100%;
}

.dropdown a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1rem;
  background-color: #333;
  border-radius: 4px;

  flex-grow: 1;
  text-align: center;
}

.dropdown a:hover {
  background-color: #555;
}

.user-menu:hover .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- MEDIA QUEREIS ---------- */

@media screen and (max-width: 700px) {
  header {
    justify-content: center;
  }

  header .auth {
    display: none;
  }
}
