header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 7.5%;

  font-size: 1.25rem;
}

header div {
  display: flex;
  justify-content: start;
  gap: 3rem;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
header a:hover {
  text-decoration: underline;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: var(--loading-bar);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  z-index: 9999;
}
.loading.active {
  transform: scaleX(1);
}

@media screen and (max-width: 700px) {
  header {
    justify-content: center;
  }

  header .auth {
    display: none;
  }
}
